body,
html,
h1 {
  background-color: rgb(243, 243, 243);
  margin: 0;
  font-family: 'Raleway';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  width: 99%;
  border: 1px solid rgb(243, 243, 243);
}

.mainContainer {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin: auto;
  width: 1000px;
  height: 80vh;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 10px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-shadow: 1px 1px #7e7e7e;
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.searchBarContainer {
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: #fff;
}

.searchBar {
  outline: none;
  font-family: 'Raleway';
  font-size: 1.5rem;
  text-indent: 2%;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(243, 243, 243);
}

.searchBar:focus {
  outline: none;
  border-bottom: 2px solid #373737;
}

.tagsMain {
  position: relative;
  left: 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.tagContainer {
  display: inline-flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
  background-color: #d3d3d3;
  margin: 5px;
  min-width: 50px;
}

.tagText {
  position: relative;
  left: -10%;
  text-align: center;
}

.tagInput {
  outline: none;
  font-family: 'Raleway';
  font-size: 1.5rem;
  text-indent: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(243, 243, 243);
}

.tagInput:focus {
  outline: none;
  border-bottom: 2px solid #373737;
}

.studentContainer {
  display: flex;
  flex-direction: row;
}

.studentImageDiv {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-top: 20px;
}

.studentImage {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px solid rgb(243, 243, 243);
  margin-left: 25px;
}

.studentName {
  font-size: 2.5rem;
  font-family: 'Raleway';
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: transparent;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9em;
  text-indent: 12%;
  line-height: 20px;
}

.gradesContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 20px;
}

.buttonExpand {
  display: flex;
  flex-grow: 1;
  align-self: flex-start;
  justify-content: flex-end;
  margin-top: 25px;
  margin-right: 25px;
}

.btn {
  background-color: transparent;
  border: 0px;
}

.fa-plus {
  color: #7e7e7e;
  font-size: 2rem;
}

.fa-plus:hover {
  color: #000;
}

.fa-minus {
  color: #7e7e7e;
  font-size: 2rem;
}

.fa-minus:hover {
  color: #000;
}
