body,
html,
h1 {
  margin: 0;
  font-family: 'Raleway';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin: auto;
  width: 1000px;
  height: 80vh;
  border: 2px solid #d3d3d3;
  border-radius: 25px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.searchBarContainer {
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
}

.studentContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid #d3d3d3;
  height: 220px;
}

.studentImageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.studentImage {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
}

.studentName {
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 800;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9em;
  text-indent: 12%;
  line-height: 20px;
}
